.roulette {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  img {
    width: 40rem;
    height: 40rem;

    @media (max-width: 800px) {
      width: 100%;
      height: auto;
      max-height: none;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3.2rem;
    left: 50%;
    margin-left: -2.9rem;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
    background: rgba($color: #FFF, $alpha: 0.6);
    box-shadow: 0 0 2.4rem rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    z-index: 100;
    animation: fadeUp 0.4s ease-in-out;
    animation-iteration-count: 1;
    -moz-animation-delay: 1s;

    &:hover {
      span {
        transform: scale(1.2);
      }
    }
    &:active {
      span {
        background: #EC5B2F;
      }
    }

    span {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 0.2rem;
      background: #000;
      transition: transform .2s ease;
    }
  }
}
